<!-- Contenido principal de tu página -->

<footer class="footer">
    <div class="footer-content">
      <div class="footer-section">
        <h2 class="footer-heading">Informacion</h2>
        <ul class="footer-list">
          <li class="footer-list-item"><a href="#" class="footer-link">Terminos y codiciones</a></li>
          <li class="footer-list-item"><a href="#" class="footer-link">Politicas de seguridad</a></li>
          <li class="footer-list-item"><a href="#" class="footer-link">Proteccion de datos personales</a></li>
          <!-- Agrega más enlaces según sea necesario -->
        </ul>
      </div>
      <div class="footer-section">
        <h2 class="footer-heading">Redes Sociales</h2>
        <!-- Agrega tus enlaces a redes sociales aquí -->
        <ul class="footer-list">
          <li class="footer-list-item"><a href="#" class="footer-link">Facebook</a></li>
          <li class="footer-list-item"><a href="#" class="footer-link">Twitter</a></li>
          <li class="footer-list-item"><a href="#" class="footer-link">Instagram</a></li>
          <!-- Agrega más enlaces según sea necesario -->
        </ul>
      </div>
      <div class="footer-section">
        <h2 class="footer-heading">Contacto</h2>
        <p class="footer-text">Dirección: Tu dirección</p>
        <p class="footer-text">Teléfono: Tu número de teléfono</p>
        <p class="footer-text">Correo electrónico: tu&#64;email.com</p>
      </div>
    </div>
<hr>  
    <div class="footer-bottom">
      <p class="footer-text">Todos los derechos reservados &copy; 2024 Tu Empresa</p>
    </div>
  </footer>
  