
  <section class="section">
    <h3 class="section-title">Servicios y Productos que ofrece VozIpCompany & ICTLATAM</h3>
  
    <div class="card-container">
      <div *ngFor="let servicio of servicios" class="card">
        <div class="image-container">
          <img [src]="servicio.imagenUrl" alt="{{ servicio.titulo }}">
        </div>
        <div class="content">
          <a href="#" class="card-link">
            <span class="title">{{ servicio.titulo }}</span>
          </a>
          <p>{{ servicio.descripcion }}</p>
        </div>
      </div>
    </div>
  </section>
