.service-technical {
    margin-top: 60px;
  }
  
  .service-technical h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .service-technical .row {
    margin-bottom: 20px;
  }
  
  .service-technical .col-md-6 {
    padding: 0 20px;
  }
  
  .service-technical h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .service-technical p {
    line-height: 1.5;
  }
  