// Body
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

// Header Styles
.header {
  color: black;
  text-align: center;
  padding: 3.5rem 0;
  background: #f2f2f2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
  &-content {
    max-width: 800px;
    margin: 0 auto;

    @media (max-width: 768px) {
      padding: 1rem;
    }

    h1 {
      font-size: 2.2rem;
      font-weight: bold;
      margin-bottom: 0.5rem;

      @media (max-width: 768px) {
        font-size: 1.8rem;
      }
    }

    h5 {
      color: #6B7280;
      margin-bottom: 1.5rem;

      @media (max-width: 768px) {
        font-size: 1rem;
      }
    }
  }
}

#button-header {
  padding: 0.7em 1.4em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 4px;
  color: #163a81;
  transition: all 1000ms;
  font-size: 13px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #163a81;

  @media (max-width: 768px) {
    padding: 0.5em 1em;
    font-size: 11px;
    letter-spacing: 2px;
  }

  &:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #3e92cc;
  }

  &::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #3e92cc;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
  }

  &:hover::before {
    width: 250%;
  }
}


// Section Text Image
.section-text-image {
  background-color: #f7f7f7;
  padding: 3rem;
  text-align: center;

  .text-image-content {
    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;

      .text {
        text-align: center;

        h3 {
          color: #222;
          font-size: 1.7rem;
          margin-bottom: 15px;
        }

        p {
          color: #333;
          font-size: 1rem;
        }
      }

      .image-portatil {
        margin-top: 20px;
        text-align: center;

        img {
          max-width: 100%;
          height: auto;
          border: 1px solid #ddd;
          border-radius: 5px;
          animation: floatAnimation 3s ease-in-out infinite;

          @keyframes floatAnimation {
            0%, 100% {
              transform: translateY(0);
            }
            50% {
              transform: translateY(20px);
            }
          }
        }
      }
    }

    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .text {
        flex: 1;
        text-align: left;

        h3 {
          color: #222;
          font-size: 1.7rem;
          margin-bottom: 15px;
        }

        p {
          color: #333;
          font-size: 1rem;
        }
      }

      .image-portatil {
        flex: 1;
        margin-top: 0;
        text-align: right;

        img {
          width: 70%;
          height: auto;
          border: 1px solid #ddd;
          border-radius: 5px;
          animation: floatAnimation 3s ease-in-out infinite;

          @keyframes floatAnimation {
            0%, 100% {
              transform: translateY(0);
            }
            50% {
              transform: translateY(20px);
            }
          }
        }
      }
    }
  }
}
